<template>
    <div>
        <span>chat {{ chatId }}</span>
        <div>
            <ul>
                <li v-for="member in chat.members">{{ member.user.name }}</li>
            </ul>
        </div>
        <div>
            <form v-on:submit.prevent="sendMessage()">
                <div class="form-group">
                    <input type="text" class="form-control" id="message"  placeholder="Enter message" v-model="message">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <p class="alert alert-info" v-for="message in chat.messages" :style="{ 'text-align': isAuthor(message) ? 'right' : 'left' }">
            <span>{{ message.author.user.name }}: {{ message.content }}</span>
        </p>
    </div>
</template>
<script>
  import {createChat, getChat, getChats, sendMessage} from "../helpers/api";
  import io from 'socket.io-client';
  import {isMe} from "../service/authService";

  export default {
    props: ['chatId'],
    data: function () {
      return {
        message: null,
        chat: {
          messages: []
        },
      }
    },
    mounted() {
      this.getChat()

      const socket = io('127.0.0.1:3000');

      socket.on('chat-' + this.chatId + '/message', (data) => {
        this.chat.messages.unshift(data.message)
      });
      socket.on('chat-' + this.chatId + '/member', (data) => {
        this.chat.members.unshift(data.member)
      });
    },
    methods: {
      getChat: function () {
        getChat(this.chatId).then(response => {
          this.chat = response.data
        })
      },
      sendMessage() {
        sendMessage(this.chatId, this.message).then(() => {
          this.message = null
        })
      },
      isAuthor(message) {
        return isMe(message.author.user.visitor_id)
      }
    }
  }
</script>