<template>
    <div>
        <button @click="createChat">Create Chat</button>
        <div v-for="chat in chats">
            <span>{{ chat.name }}</span>
            <button v-if="!chat.is_member" @click="joinToChat(chat.id)">Join to chat</button>
            <button v-else @click="openChat(chat.id)">Open chat</button>
        </div>
    </div>
</template>
<script>
  import {createChat, getChats, joinToChat} from "../helpers/api";

  export default {
    data: function () {
      return {
        chats: [],
      }
    },
    mounted() {
      this.getChats()
    },
    methods: {
      getChats: function () {
        getChats().then(response => {
            this.chats = response.data.data
        })
      },
      createChat() {
        createChat().then(response => {
          this.chats.push(response.data)
        })
      },
      openChat(chatId) {
        window.location.href = `/${chatId}`;
      },
      joinToChat(chatId) {
        joinToChat(chatId).then(() => {
          this.openChat(chatId)
        })
      }
    }
  }
</script>